<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Informational Site</title>
</head>

<body>
    <nav>
        <div>

            <h1>About</h1>

            <p>Welcome to About</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact-me">Contact Me</a></li>
        </ul>
    </nav>
</body>

</html>